@import url("grid.css");
    @import url("reset.css");
    html, body {
    height: 100%}
body {
    color: #444;
    background: #eaeaea url(../images/pat_02.png) repeat;
    font: 12px/1.8 Arial, sans-serif;
}
input, button, select, textarea {
    font: 12px/15px Arial, sans-serif;
}
a {
    color: #0d8b9b;
    text-decoration: none;
}
a:hover {
    color: #cb6400;
}
p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
h1, h2 {
    font-weight: normal;
}
h1 {
    font-size: 21px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 17px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 14px;
}
h3, h4, h5, h6 {
    margin-bottom: .7em;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.alignright {
    text-align: right;
}
img[align="left"], img.alignleft {
    float: left;
    margin: 6px 15px 15px 0;
}
img[align="right"], img.alignright {
    float: right;
    margin: 6px 0 15px 15px;
}
header#top {
    height: 40px;
    color: #ccc;
    border-bottom: 1px solid #000;
    background: #2c2c2c;
    min-width: 960px;
}
div#logo {
    margin-top: 8px;
    font-size: 18px;
}
header#top div#logo a {
    text-decoration: none;
    color: #aaa;
}
header#top div#logo a:hover {
    color: #ccc;
}
div#logo img {
    vertical-align: middle;
}
div#logo a span {
    color: #eee;
}
a#view-site {
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #444;
    padding: 1px 3px;
    margin-left: 10px;
    background: #333;
    vertical-align: middle;
}
#userinfo {
    margin-top: 15px;
    text-align: right;
}
#userinfo a {
    padding: 4px 10px 4px 25px;
    background: url(../images/icons/user-silhouette.png) 5px 4px no-repeat;
}
footer#bottom {
    height: 20px;
    color: #ccc;
    font-size: 11px;
    background: #2c2c2c;
    padding: 20px 0;
    min-width: 960px;
}
header#top a:hover, footer#bottom a:hover {
    color: #fff;
}
nav#topmenu {
    height: 34px;
    line-height: 36px;
    min-width: 960px;
    position: relative;
    background: #29a1b3;
    border-top: 1px solid #4bc9de;
    border-bottom: 1px solid #0d8b9b;
}
nav ul li {
    float: left;
    position: relative;
    top: -1px;
}
nav ul li a {
    display: block;
    color: #fff;
    padding: 0 10px;
}
nav ul li {
    text-shadow: 1px 1px 0 #555;
}
nav ul ul li {
    text-shadow: none;
}
nav ul li.current a, nav ul li a:hover {
    color: #eee;
}
nav ul#mainmenu {
    float: left;
}
nav ul#usermenu {
    float: right;
    font-size: 11px;
}
nav ul#usermenu a.inbox {
    background-image: url(../images/icons/mail.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    padding-left: 28px;
}
section#content {
    min-height: 75%;
    padding: 20px 0;
    min-width: 960px;
    text-align: justify;
}
article {
    border: 1px solid #aaa;
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
}
article h1 {
    font-family: Tahoma;
    font-weight: normal;
    background: #f4f4f4;
    padding: 1px 10px;
    margin-bottom: 15px;
}
article h2 {
    color: #902452;
    margin: 15px 0 10px;
}
article .links {
    text-align: right;
    margin-top: 10px;
}
.content img {
    border: 1px solid #ddd;
    padding: 4px;
}
.content ul, .content ol {
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.content ul ul, .content ol ol {
    margin-bottom: 0;
}
.content ul {
    list-style: circle;
}
.content ol {
    list-style: decimal;
}
.content ol ol {
    list-style: lower-alpha;
}
.content dl dd {
    margin: 0 0 10px 20px;
}
.box {
    background: #fff;
    margin-bottom: 15px;
    position: relative;
    padding: 0;
    background: #fff url(../images/box-header.gif) 0 0 repeat-x;
}
.box h2 {
    position: relative;
    /* height: 23px; */
    padding: 10px 36px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* text-shadow: 1px 1px 0 #fff; */
    background: #29a1b3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#29a1b3), to(#239db0));
	background: -moz-linear-gradient(#29a1b3, #239db0);
	background: linear-gradient(#29a1b3, #239db0);
	-pie-background: linear-gradient(#29a1b3, #239db0);
	border-top: 1px solid #4bc9de;
	border-bottom: 1px solid #0d8b9b;
	margin-top:-10px;
}
.box section {
    padding: 10px;
    font-size: 11px;
}
.box img.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.box.info h2 {
    background-image: url(../images/icons/information-octagon.png);
}
.box.menu h2 {
    background-image: url(../images/icons/bookmarks.png);
}
.box img{border-radius:5px 5px 0 0 ; }
.search {
    padding: 15px 10px;
    border-color: #ccc;
    background: #f4f4f4;
}
.search label {
    font: 11px Tahoma, sans-serif;
    color: #777;
    font-weight: bold;
    margin: 0 0 3px 2px;
    display: block;
}
#login {
	width:600px;
    height:300px;
    position: absolute;
    top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
#login h2 {
    /* background-image: url(../images/icons/key.png); */
}
#login section {
    padding: 20px;
}
#login a {
    font-size: 11px;
}
input#username, input#adminpassword {
    width: 95%;
    padding: 10px;
}
}
#login #forgot {
    margin-left: 20px;
}
#dashboard h2 {
    margin: 30px 0 10px 5px;
}
.statistics {
    float: left;
    width: 200px;
}
.statistics table {
    width: 100%}
.statistics table td {
    border: 1px solid #eee;
    padding: 5px 10px;
}
.statistics table td a {
    font-weight: bold;
}
#pageviews {
    float: right;
}
section.icons {
    text-align: center;
}
.icons ul {
    margin-top: 20px;
}
.icons ul li {
    width: 80px;
    margin: 0 20px 20px 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.icons ul li a {
    display: block;
    padding: 5px;
    border: 1px solid #f1f1f1;
}
.icons ul li a:hover {
    border: 1px solid #aaa;
}
.icons ul li a img {
}
.icons ul li a span {
    font: 11px Tahoma, sans-serif;
    color: #333;
    display: block;
}
.box ul li {
    padding: 0;
    border-bottom: 1px dashed #D6D8D9;
}
.box ul li a {
    padding: 3px 5px 3px 18px;
    color: #333;
    display: block;
    background: url(../images/icons/bullet_yellow.png) 0 center no-repeat;
}
.box ul li a:hover {
    background-color: #FFFAE3;
}
.box ul ul {
    margin-left: 15px;
}
.box ul ul li {
    border-bottom: none;
}
.news li {
    padding: 8px 0;
    border-bottom: 1px dashed #D6D8D9;
}
.news li .date {
    font-size: 10px;
    color: #aaa;
    margin-right: 5px;
}
.news li img {
    vertical-align: middle;
    margin-left: 5px;
}
ul.sortable li img {
    cursor: move;
}
ul.photos {
    border: none;
}
ul.photos li {
    margin: 6px;
    padding: 0;
    border: none;
    background-color: #fff;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    _height: 150px;
}
ul.photos li img {
    padding: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 2px 2px 0 #eee;
}
ul.photos li img:hover {
    border: 1px solid #999;
}
ul.photos div.links {
    margin: 0;
}
ul.photos div.links a {
    color: #aaa;
    background: #fff;
    font: 10px Tahoma, sans-serif;
    padding: 2px 3px;
    margin: 0 0 0 3px;
    border: none;
}
ul.photos div.links a:hover {
    background-color: #888;
    color: #fff;
}
ul.photos div.links a.delete:hover {
    background-color: #BC1515;
}
ul.comments li {
    padding: 6px 0;
    border-bottom: 1px dashed #d6d8d9;
}
img.comment-avatar {
    float: left;
    margin: 5px 10px 5px 0;
    width: 36px;
    height: 36px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
}
ul.comments li div.links {
    margin: 0;
}
ul.comments li div.links a {
    color: #fff;
    background: #aaa;
    font: 10px Tahoma, sans-serif;
    padding: 2px 3px;
    margin: 0 0 0 1px;
    border: none;
}
ul.comments li div.links a.delete {
    background-color: #F06C6C;
}
ul.comments li div.links a.delete:hover {
    background-color: #BC1515;
}
ul.comments li div.links a:hover {
    border: none;
    background: #000;
}
ul.comments span.date {
    font-size: 10px;
    color: #aaa;
    margin-right: 10px;
}
div.msg {
    padding: 10px 10px 10px 37px;
    margin-bottom: 10px;
    cursor: pointer;
}
div.success {
    border: 1px solid #6cd858;
    background: #e3ffde url(../images/icons/tick.png) 10px 13px no-repeat;
}
div.error {
    border: 1px solid #ffa2aa;
    background: #fae8e8 url(../images/icons/exclamation-red.png) 10px 13px no-repeat;
}
div.warning {
    border: 1px solid #d6d61f;
    background: #ffffd3 url(../images/icons/exclamation.png) 10px 13px no-repeat;
}
div.information {
    border: 1px solid #b4dbe8;
    background: #e3f2f7 url(../images/icons/information-balloon.png) 10px 13px no-repeat;
}
.gtable {
    width: 100%}
.gtable th {
    text-align: left;
    padding: 5px 10px;
}
.gtable thead tr {
    color: #333;
    border: 1px solid #ccc;
}
.gtable thead th {
    background: #efefef;
}
.gtable tbody tr td {
    border-bottom: 1px solid #eee;
}
.gtable tbody tr:nth-child(odd) td, .detailtable tbody tr.odd td {
    background-color: #fff;
}
.gtable tbody tr:nth-child(even) td, .detailtable tbody tr.even td {
    background-color: #f7f7f7;
}
.gtable tbody tr:hover td {
    background-color: #FFFAE3;
}
.gtable td {
    padding: 5px 10px;
}
.gtable input {
    vertical-align: middle;
}
.gtable img {
    vertical-align: middle;
    margin-right: 5px;
}
.gtable tr.detail {
    font-size: 11px;
}
.gtable tr.detail td {
    padding: 0;
}
.gtable tr.detail td td, .gtable tr.detail td th {
    padding: 2px 10px;
    color: #777;
}
.gtable .detail table {
    width: 100%;
    border: 5px solid #fff7d1;
}
.gtable .detail table tr td, .gtable .detail table tr th {
    background: #ffffed;
    border-bottom: 1px solid #fff7d1;
}
table.sortable img.move {
    cursor: move;
}
.tablefooter {
    background: #f7f7f7;
    border-top: 1px solid #fff;
}
.tablefooter .actions {
    float: left;
    padding: 5px 10px;
}
.tablefooter .pagination {
    float: right;
    padding: 5px 10px;
}
.pagination {
    font: 11px Tahoma, sans-serif;
    margin: 7px 0;
    text-align: right;
}
.pagination a {
    padding: 4px 7px;
    color: #333;
    background: #fff;
    margin: 0;
    border: 1px solid #e4e4e4;
}
.pagination a.current {
    font-weight: bold;
    color: #fff;
    background: #555;
    border: 1px solid #555;
}
.pagination a:hover {
    color: #fff;
    background: #777;
    border: 1px solid #777;
}
form fieldset {
    margin: 10px;
    padding: 10px;
    border: 1px solid #e5e5e5;
}
form legend {
    font: 10px Tahoma, sans-serif;
    text-transform: uppercase;
    color: #555;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    padding: 0 5px 0 30px;
    background: url(../images/icons/block.png) 5px 0 no-repeat;
    line-height: 18px;
    margin: 10px 0;
}
form dt {
    margin-bottom: 2px;
}
form dd {
    margin-bottom: 15px;
}
form dt label {
    cursor: pointer;
    font: 11px Tahoma, sans-serif;
    font-weight: bold;
    color: #555;
}
form p {
    clear: left;
    margin-bottom: 0;
    padding: 5px 0;
    width: 100%}
form p label {
    display: block;
    float: left;
    cursor: pointer;
    font: 11px Tahoma, sans-serif;
    font-weight: bold;
    color: #555;
    width: 100px;
    vertical-align: middle;
    padding: 5px;
    text-align: right;
    margin-right: 10px;
}
form p small {
    display: block;
    margin: 0 10px 0 120px;
    font-size: 10px;
    color: #aaa;
}
form dl.inline dt {
    clear: both;
    width: 25%;
    float: left;
    text-align: right;
}
form dl.inline dt label {
    margin-right: 12px;
}
form dl.inline dd {
    float: left;
    width: 75%;
    margin: 0 0 15px;
}
form dl dd small {
    display: block;
    font-size: 11px;
    color: #aaa;
}
form div.buttons {
    /*margin: 20px 0 10px 25%*/
    text-align:center;
    padding-top : 10px;
    padding-bottom : 10px;
}
form input[type="text"], form input[type="email"], form input[type="password"], form select, form textarea {
    border: 1px solid #ccc;
    padding: 4px 5px;
    background: #fff url(../images/input-bg.gif) 0 0 repeat-x;
}
form select {
    padding: 3px;
}
form input[type="text"]:hover, form input[type="email"]:hover, form input[type="password"]:hover, form select:hover, form textarea:hover {
    border: 1px solid #999;
}
form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form select:focus, form textarea:focus {
    border: 1px solid #777;
}
form input[type="radio"], form input[type="checkbox"] {
    vertical-align: top;
}
form input.small, form select.small, form textarea.small {
    width: 130px;
}
form input.medium, form select.medium, form textarea.medium {
    width: 300px;
}
form input.big, form select.big, form textarea.big {
    width: 540px;
}
input#newstitle {
    font-size: 20px;
    width: 540px;
}
form label.error {
    font: 10px Tahoma, sans-serif;
    color: #ED7476;
    margin-left: 5px;
}
form input.error, form input.error:hover, form input.error:focus, form select.error, form textarea.error {
    border: 1px solid #ED7476;
    background: #FFEDED;
}
ul.tabs {
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    border-bottom: 3px solid #666;
    padding: 7px 0;
}
.tabs li {
    display: inline;
}
.tabs a {
    background: #f3f3f3;
    padding: 6px 12px;
    color: #888;
    outline: 0;
}
.tabs a:hover {
    color: #555;
    background: #eee;
}
.tabs .selected a {
    color: #fff;
    background: #666;
}
.tabcontent {
    padding: 10px 0;
}
#settings .tabcontent {
    padding-top: 25px;
}
.accordion h3 {
    padding: 2px 8px;
    font-size: 14px;
    margin-bottom: 2px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    background: #eee;
}
div.accordion h3.active {
    color: #fff;
    background: #666;
}
.accordion h3:hover {
    background: #eee;
}
.accordion div {
    margin: 5px 0;
}
.accordion div div {
    margin: 0;
}
.button {
    font: 11px Tahoma, sans-serif;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 3px 0 1px;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 6px 8px;
    text-shadow: 1px 1px 1px #555;
    width: auto;
    overflow: visible;
    line-height: 110%}
.button:hover {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}
a.button:hover {
    color: #fff;
}
.button:active {
    position: relative;
    top: 1px;
}
.button.big {
    font: 15px Arial, sans-serif;
    font-weight: bold;
    padding: 8px 10px;
}
.button.small {
    font-weight: normal;
    padding: 4px 5px;
}
.button.red {
    border: 1px solid #9c0606;
    background: #e85353;
}
.button.blue {
    border: 1px solid #0d717e;
    background: #28a0b2;
}
.button.green {
    border: 1px solid #3b6e22;
    background: #75ae5c;
}
.button.orange {
    border: 1px solid #c16729;
    background: #ff9435;
}
.button.purple {
    border: 1px solid #981271;
    background: #cb60b3;
}
.button.yellow {
    border: 1px solid #af9827;
    background: #f2de6f;
}
.button.black {
    border: 1px solid #000;
    background: #444;
}
.button.gray {
    border: 1px solid #444;
    background: #888;
}
.button.white {
    color: #444;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #999;
    background: #f7f7f7;
}
.button.white:hover {
    color: #444;
}
section.buttons {
    text-align: center;
}
section.buttons .button {
    margin-bottom: 15px;
}
header#top {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2c2c2c), to(#222));
    background: -moz-linear-gradient(#2c2c2c, #222);
    background: linear-gradient(#2c2c2c, #222);
    -pie-background: linear-gradient(#2c2c2c, #222);
}
nav#topmenu {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#29a1b3), to(#239db0));
    background: -moz-linear-gradient(#29a1b3, #239db0);
    background: linear-gradient(#29a1b3, #239db0);
    -pie-background: linear-gradient(#29a1b3, #239db0);
}
.button {
    -webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, .6), inset 0 -5px 15px rgba(0, 0, 0, .3), 1px 1px 1px #ccc;
    -moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, .6), inset 0 -5px 15px rgba(0, 0, 0, .3), 1px 1px 1px #ccc;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, .6), inset 0 -5px 15px rgba(0, 0, 0, .3), 1px 1px 1px #ccc;
}
a#view-site {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
nav ul li.current a, nav ul li a:hover, nav ul li:hover {
    -webkit-box-shadow: inset 0 3px 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 20px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 20px rgba(0, 0, 0, .2);
}
footer#bottom {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2c2c2c), to(#222));
    background: -moz-linear-gradient(#2c2c2c, #222);
    background: linear-gradient(#2c2c2c, #222);
    -pie-background: linear-gradient(#2c2c2c, #222);
}
article {
    -webkit-box-shadow: 3px 3px 0 #ddd;
    -moz-box-shadow: 3px 3px 0 #ddd;
    box-shadow: 3px 3px 0 #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
article h1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
article .links a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.box {
    -webkit-box-shadow: #e1e1e1 2px 2px 0;
    -moz-box-shadow: #e1e1e1 2px 2px 0;
    box-shadow: #e1e1e1 2px 2px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.box h2 {
    /* -webkit-border-radius: 3px; */
    -moz-border-radius: 3px;
    /* border-radius: 3px; */
}
.alert {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color:#FF8080;
    padding : 10px;    
}
.alert-success {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color:#C0FFC0;
    padding : 10px;    
}
.search {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to(#e3e3e3));
    background: -moz-linear-gradient(#fafafa, #e3e3e3);
    background: linear-gradient(#fafafa, #e3e3e3);
    -pie-background: linear-gradient(#fafafa, #e3e3e3);
    -webkit-box-shadow: inset 0 -5px 7px #f4f4f4, 1px 1px 4px #ddd;
    -moz-box-shadow: inset 0 -5px 7px #f4f4f4, 1px 1px 4px #ddd;
    box-shadow: inset 0 -5px 7px #f4f4f4, 1px 1px 4px #ddd;
}
.icons ul li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 15px #f4f4f4;
    -moz-box-shadow: inset 0 0 15px #f4f4f4;
    box-shadow: inset 0 0 15px #f4f4f4;
}
form fieldset {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
form input[type="text"], form input[type="email"], form input[type="password"], form select, form textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.msg {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.gtable thead th {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#efefef));
    background: -moz-linear-gradient(#fff, #efefef);
    background: linear-gradient(#fff, #efefef);
    -pie-background: linear-gradient(#fff, #efefef);
}
.pagination a.current {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#888), to(#555));
    background: -moz-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
}
.tabs a, .accordion h3 {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e4e4e4));
    background: -moz-linear-gradient(#eee, #e4e4e4);
    background: linear-gradient(#eee, #e4e4e4);
    -pie-background: linear-gradient(#eee, #e4e4e4);
}
.tabs .selected a, div.accordion h3.active {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#888), to(#666));
    background: -moz-linear-gradient(#888, #666);
    background: linear-gradient(#888, #666);
    -pie-background: linear-gradient(#888, #666);
}
a#view-site, .search {
    behavior: url(js/PIE.htc);
}
#colorstyle {
    margin-top: 15px;
}
#colorstyle div {
    float: left;
    margin-right: 5px;
}
#colorstyle a {
    outline: none;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 3px 0 0 4px;
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, .5), inset 0 -3px 6px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .5), inset 0 -3px 6px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, .5), inset 0 -3px 6px rgba(0, 0, 0, .5);
}
#colorstyle a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
#colorstyle a[rel="blue"] {
    background: #239db0;
}
#colorstyle a[rel="orange"] {
    background: #ff7f04;
}
#colorstyle a[rel="red"] {
    background: #e02424;
}
#colorstyle a[rel="green"] {
    background: #67a54b;
}
#colorstyle a[rel="purple"] {
    background: #db36a4;
}
#colorstyle a[rel="yellow"] {
    background: #e8cc45;
}
#colorstyle a[rel="black"] {
    background: #2b2b2b;
}
#colorstyle a[rel="gray"] {
    background: #666;
}
#div_autocomplete {
    background-color: #ffffff;
    border: 1px solid #999999;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
}
#tab_autocomplete td {padding:3px;}

label.available{
    padding : 5px;
    background-color:#0FB549;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #F0F0F0;
    font-weight:bold;
}

label.warning{
    padding : 5px;
    background-color:#FF8000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#F0F0F0;
    font-weight:bold;
}

label.danger{
    padding : 5px;
    background-color:#FF0000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#F0F0F0;
    font-weight:bold;
}

table.form {border: 0px}
table.form td {padding:5px}
table.form td.label {font-weight:bold}