body{
background:#ffffff;
}

#header{
height:80px;
background:#111111;
padding:15px 0px;
min-width: 960px;
}

.menu-top{}

.menu-top ul{
margin:30px 0px 0px 0px;
padding:0;
list-style:none;
}

.menu-top li{
display:inline;
margin-right:15px;
text-transform:uppercase;
}

.menu-top li a:link, .menu-top li a:active, .menu-top li a:visited{
color:#fff;
text-decoration:none;
}

.menu-top li a:hover{
color:#fff;
text-decoration:none;
}

.home{
background: url(images/home-icon.png) no-repeat;
padding-left:25px;
}
.tour{
background: url(images/tour-icon.png) no-repeat;
padding-left:25px;
}
.rental{
background: url(images/rental-icon.png) no-repeat;
padding-left:25px;
}
.contact{
background: url(images/contact-icon.png) no-repeat;
padding-left:25px;
}

#content{
margin:0;
padding:0;
}

.slider-box{
margin:25px 0px 0px 0px;
padding-bottom:20px;
position:relative;
border-bottom:1px dashed #b7b7b7;
}

.desc-slider{
width:520px;
position:absolute;
left:15px;
bottom:45px;
background-color:rgba(0,0,0,0.7);
padding:15px;
font-size:18px;
line-height:27px;
text-transform:uppercase;
color:#fff;
}

.slider{
z-index:10;
}

.top-form{
position:absolute;
right:15px;
background-color:rgba(0,0,0,0.7);
padding:0px;
top:-15px;
height:410px;
color:#fff;
z-index:1;
}


.tab-button{
width:33%;
padding:5px 0px;
margin:0;
background:#000;
text-align:center;
color:#fff;
font-weight:bold;
text-transform:uppercase;
}

.tab-button.active{
background:none;
}


.nav-tabs{
border-bottom: none !important;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
background:none !important;
border:#none;
border:none !important;
color:#fff;
}



.nav-tabs > li > a {
    border: 1px solid transparent;
	border-radius: 0px 0px 0 0 !important;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
	color:#fff;
}

.nav-tabs > li > a:hover{
background:#000 !important;
border:1px solid #000;
color:#fff;
}

#promo span, #paket span, #order span{
font-weight:bold;
color:#fff;
font-size:18px;
text-transform:uppercase;
margin-bottom:15px;}


.carousel-indicators{
top:360px !important;
left:10px !important;
}

.carousel-control{
    display:none !important;
}

.carousel-control.right{
left:auto !important;
left:560px !important;
}

#promo  p{
margin-top:20px;}

#paket p {
margin-top:10px;}

.form-promo{
padding-bottom:35px;
padding-top:15px;
}


.form-promo span{
font-size:14px !important;
font-weight:bold;
margin-bottom:10px;
}
.tab-content{
padding:15px;

}

#datetimepicker3{
margin-bottom:0px !important}

.title-date{
float:left;
margin-top:5px;
font-weight:bold;
text-transform:uppercase;
font-size:13px;}


.title-pilih{
font-weight:bold;
text-transform:uppercase;
font-size:13px;
}


#datetimepicker3 input[type="text"]{
width: 135px;
margin-left:10px;}

.select-paket select{
width: 255px;
margin-top:5px;
}

#datetimepicker4 input[type="text"]{
width: 135px;
margin-left:22px;}


.form-promo-btn .btn{
width:100% !important;
height:48px !important;
font-size:18px;
text-transform:uppercase;
font-weight:bold;
}

.slider-shadow{
background: url(images/slider-shadow.png) no-repeat;
position:absolute;
bottom:45px;
z-index:-1;
height:69px;
width:940px;
}

.paket{
border-top:1px dashed #fff;
padding:18px 0px;
float:left;
}


.paket-tour{
position:relative;
}

.paket-tour h2{
font-size:18px;
color:#488216;
text-transform:uppercase;
}


.img-box{

}

.img-box img{
padding:9px;
border:1px solid #e1e1e1;
background:#fff;
z-index:5;
}


.shadow-img-box{
position:absolute;
width:300px;
height:50px;
background:url(images/img-shadow.png) no-repeat;
z-index:-1;
top:188px;
}


.paket-tour p{
font-size:14px;
line-height:23px;
color:#323a45;
margin:35px 0px;

}

.comming-event{
background:#ececec;
padding-bottom:25px;
}


.ce-title{
color:#488216;
font-size:18px;
padding-bottom:10px;
border-bottom:1px dashed #b7b7b7;
margin-bottom:20px;
text-transform:uppercase;
margin-right:20px;

}

.comming-event img{
padding:9px;
border:1px solid #e1e1e1;
background:#fff;
z-index:5;
float:left;
margin-right:15px;
margin-top:10px;
}

.ce-content h3{
margin:-5px 0px 10px 0px;
padding:0px;
font-size:18px;
color:#7ecf38;
/*text-transform:uppercase;  */
line-height:33px;
}

.ce-content p{
margin-bottom:3px;
line-height:23px;
font-size:14px;
}

.ce-content a:link,.ce-content a:active,.ce-content a:visited{
color:#7ecf38;
text-decoration:none;

}

.ce-content a:hover{
color:#7ecf38;
text-decoration:none;
border-bottom:1px dotted #7ecf38;
}

/* ---------------  paket city ----------------------*/

.pc-title h1{
font-size:23px;
color:#488216;
text-transform:uppercase;
margin:20px 0px;
}

.notes-area{
position:relative;
margin-bottom:30px;
}

.notes-shadow{
background: url(images/slider-shadow.png) no-repeat;
position:absolute;
bottom:-22px;
z-index:-1;
height:69px;
width:940px;
left:7px;
}

.notes{
padding:10px;
background:#fef4b7;
border:1px solid #ede198;
margin:10px 0px;
}

.notes p{
font-size:14px;
color:#fca534;
line-height:21px;
}

.notes p span{
color:#ff0000;
font-weight:bold;
}

.paketan{
padding:15px;
border:1px solid #cccccc;
background:#fff url(images/bg-paketan.jpg) repeat;
margin-top:35px;
position:relative;
margin-bottom:15px;
margin-top:65px;
/*- new fix --*/
min-height:300px;
}


.paketan-wisata{
padding:15px;
border:1px solid #cccccc;
background:#fff url(images/bg-paketan.jpg) repeat;
position:relative;
margin-bottom:15px;
margin-top:15px;
}

.venue{
padding:15px;
border:1px solid #cccccc;
background:#fff url(images/bg-paketan.jpg) repeat;
position:relative;
margin-bottom:15px;
margin-top:15px;
}


.venue img{
padding:9px;
border:1px solid #e1e1e1;
background:#fff;
z-index:5;
margin:0px 10px 10px 0px;
float:left;
}

.venue{
margin-bottom:10px;
}

.paketan-wisata ul{
margin:15px 0px;
padding:0;
list-style:none;
}

.paketan-wisata li{
display:inline;
width:300px;
position:relative;
/*margin-right:15px;*/
margin-right:9px;
}


.paketan-wisata li img{
padding:9px;
border:1px solid #e1e1e1;
background:#fff;
z-index:5;
}
.paketan-wisata li span{
bottom: -50px;
left: 26px;
position: absolute;
display:block;
background-color:rgba(0,0,0,0.7);
padding:10px;
color:#fff;
text-transform:uppercase;
font-weight:bold;
}

.title-paket h2{
padding:10px;
background:#488216;
color:#fff;
display:block;
position:absolute;
top:-43px;
left:-10px;
font-size:23px;
text-transform:uppercase;
}


.gbr-paket{
position:absolute;
right:20px;
top:-20px;
}

.gbr-paket img{
padding:5px;
border:1px solid #e1e1e1;
background:#fff;
}

.waktu-paket{
margin-bottom :10px;
font-size:18px;
color:#488216;
font-weight:bold;
padding-left:30px;
background:url(images/waktu-icon.png) no-repeat left top;
}

.tujuan-paket, .fasilitas-paket{
font-size:14px;
color:#767676;
}

.tujuan-paket h3, .fasilitas-paket h3{
font-weight:bold;
font-size:18px;
color:#488216;
}

.fasilitas-paket ul{
list-style:none;
margin:0;
padding:0;
}


.fasilitas-paket li{
margin-bottom:5px;
}




.box-harga{
position:relative;
margin:15px 0px;
height: 280px;

}

.harga-tujuan{
background: #fef4b7;
width: 870px;
border: 1px solid #ede198;
position:relative;
top: 0;
left: -27px;
padding: 20px 30px;
margin-top: 50px;
margin-left: 25px;
margin-right: 20px;

}



.harga-tujuan table{
margin:0 auto;
}

.harga-tujuan thead{
border-bottom:1px dashed #ede198;

}

.harga-tujuan tbody td{
color:#b47f5c;
padding:5px 0px;
}

.harga-tujuan tbody td select{
margin-top:5px;
}

.sub-total{
padding:10px 0px;
margin-top:10px;
border-top:1px dashed #ede198;
color:#72675f;
font-size:14px;
font-weight:bold;
}

.subtotal-title{
text-align:right;
text-transform:uppercase;
margin-left: 40px;
}

.subtotal-jumlah{
padding-left:75px;
width:155px !important;
}

.harga-tujuan th{
color:#72675f;
font-size:14px;
font-weight:bold;
text-transform:uppercase;
text-align:left;
padding-bottom: 20px;
}

/* ---- paket sewa mobil ---*/

.paketan-rental{
padding:15px;
border:1px solid #cccccc;
background:#fff /*url(images/bg-paketan.jpg) repeat*/;
margin-top:35px;
position:relative;
margin-bottom:15px;
margin-top:15px;
}



.paketan-rental table{
margin:0 auto;}

.paketan-rental th{
text-align:center;
text-transform:uppercase;
color:#9c3a1b;
border-bottom:1px dashed #ede198;
padding-bottom:15px;
border-right:1px dashed #ede198;
padding-top: 20px;
padding-bottom: 20px;
}

th.last-box{
border-right:none;
}

.paketan-rental td{
text-align:center;
border-bottom:1px dashed #ede198;
border-right:1px dashed #ede198;
padding-top: 20px;
padding-bottom: 20px;
}

td.last-box{
border-right:none;
}

/* ----- form rental ----*/

.form-rental{}

.form-rental h3{
font-size:18px;
text-transform:uppercase;
font-weight:bold;
color:#488216;
margin-bottom:15px;
margin-top:25px;
}

.rental-box{
padding:15px;
background:#fff /*url(images/bg-paketan.jpg) repeat*/;
border:1px solid #cccccc;
}

.rental-box-area{
position:relative;
}

.rental-box p{
margin-bottom:15px;
}


.rental-box p select{ 
margin-top:8px;
}
.waktu-jemput{
margin-bottom:15px;
}


.rental-box span{
color:#488216;
font-weight:bold;
text-transform:capitalize;
}


.rb {
font-size:14px;
color:#323a45;
font-weight: normal;
width:100px;
float:left;
}

.rbcd-shadow{
position:absolute;
background: url(images/slider-shadow.png) no-repeat;
height:69px;
bottom:0px;
}


.rc {
font-size:14px;
color:#323a45;
font-weight: normal;
width:100px;
margin-bottom:10px;
}


.total-biaya{
font-size:18px;
color:#9C3A1B;
font-weight:bold;

}

.title-order{
font-size:16px;
color:#9c3a1b;
font-weight:bold;
padding-bottom:15px;
border-bottom:1px dashed #ede198;
margin-bottom:15px;
}


.note-form{
font-size:11px;
color:#fca534;
}

.contact-form{
font-size:14px;
color:#9C3A1B;
}

.mybutton{
margin-top:25px;
}
#footer{
margin-top:44px;
background:#111111;
height:300px;
min-width: 960px;
}



.footer-title{
padding-bottom:10px;
border-bottom:1px dashed #000;
}

.footer-title h3{
color:#fff;
font-size:18px;
font-weight:bold;
text-transform:uppercase;
padding-top:10px;
}

.footer-content{
padding-top:25px;
/*padding-bottom:10px; */
border-top:1px dashed #252525;
}

.footer-content ul{
margin:0;
padding:0;
list-style:none;
}

.footer-content li{
padding:0px 5px 19px 44px;
color:#fff;
}

.footer-content p.hotline {
color :#fff;
font-size: 11px;
text-align: justify;    
}

.f-alamat{
background:url(images/alamat-icon.png) no-repeat top left;
}

.f-email{
background:url(images/email-icon.png) no-repeat top left;
}

.f-fb{
background:url(images/fb-icon.png) no-repeat top left;
}

.f-twitter{
background:url(images/twitter-icon.png) no-repeat top left;
}

.f-bb{
background:url(images/bb-icon.png) no-repeat top left;
}

.f-phone{
background:url(images/phone-icon.png) no-repeat top left;
}

.testimonial{
padding:15px;
/*background:#252525;*/
background-color:rgba(37,37,37,0.3);
color:#fff;
font-size:13px;
font-weight:normal !important;
}

.name-person{
color:#fff;
text-align:right;
margin-top:15px;
}


.newsletter{
color:#fff;
}


#footer-bottom{
background:#000;
text-align:center;
color:#fff;
font-size:11px;
padding:20px 0px;
min-width: 960px;
}

/*-- some fix --*/

.newsletter input[type="text"]{
height:30px;
}

#datetimepicker3  input[type="text"]{
height:30px;
}

#datetimepicker4  input[type="text"]{
height:30px;
}

/*STEP*/
table#step{
    width: 100%;
    background-color: #e4e4e4;
    margin-top: 20px;
    table-layout: fixed;
}

#step td{
    text-align: center;
    padding: 10px;
    cursor: pointer; 
}

#step .active{
    background-color: #1d808e;
}

#step .step_num{
    color: #A6A3A3;
    font-size: 12px;
    width: 100%;
}

#step .step_name{
    color: #666666;
    font-size: 1.3em;
}

#step .active .step_num{
    color: #B0DEE4;
    font-size: 12px;
    width: 100%;
}

#step .active .step_name{
    color: #ECECEC;
    font-size: 1.3em;
}
.step_button{
    background: none repeat scroll 0 0 #27AE60;
    border: 0 none;
    border-radius: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 5px;
    padding: 10px 5px;
    width: 100px;
    float: right;
}
.step_button:hover, .step_button:hover {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 3px #27AE60;
}