    #blok {
    margin:0 auto;
    width: 800px;
    border-top: 15px solid #CC0000;
    padding-top: 12px;
       }
       #header{
        margin:0 auto;
        width: 700px;
        /*padding-top: 12px;*/
        padding-bottom: 12px;
       }
       .images{
    text-decoration:none;
    font:10px tahoma;
    padding:2px;
    margin-bottom:5px;
}

 #tabel{
        margin:0 auto;
       }
table{
    font-size:11px;;
}

table th{
    text-transform:uppercase;
    font-weight:bold;
    background:#de634c;
       text-align:center;
    padding:4px 20px 4px 20px;
}

table td{
    text-align:left;
    padding:4px 10px 4px 10px;
}

.zebra {
    background:#F9E9A9;
}
h2{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    padding-top: 10px;
    padding-bottom: 10px;
}
body {
    font-family: Tahoma, Verdana, Arial, Trebuchet MS;
    font-size:13px;
    letter-spacing:0.5px;
    margin: 0 auto;
}
.images{
    text-decoration:none;
    font:10px tahoma;
    padding:2px;
    margin-bottom:5px;
    border-bottom:3px solid #ABABAA;
}

.companyname{
   padding-left: 20px; 
}

#blockImages{
        float:left;
        margin: 0px 20px 15px 0px;
        padding-bottom:6px;
        width:260px;
        border-bottom:4px solid #dddddd;
    }
    #blockImages td {
        font-size:10px;
        text-align:left
        }
    #blokDetailBox {
        height:inherit;
        }
    #blokDetailBorder {
        height:inherit;
        padding:15px 55px 15px 55px;
        background:#fff;
        }
    #blockImages .blokUtamaIMG {
        margin: 0px 15px 10px 0px;
        width:250px;
        border:1px solid #ccc;
        padding:4px;
        }
    #blokDetailText {
    text-align:justify;
    margin: 40px 0px 15px 0px;
        padding-top: 8px;
    line-height:16px;
    color:#333;
        }
       
    #blokDetailWadah {
    margin:0 auto;
    width: 700px;
    border-bottom: 5px solid #FAFD01;
    padding-top: 12px;
       }
     #UtamaTgl {
    font-size:10px;
    color:#555;
    margin-top:0px;
    text-transform:uppercase;
    text-align: right;
    letter-spacing: normal;
                }
            #UtamaDeck {
                font-size:12px;
                color:#666666 /* 555  79aa9b*/;
                font-weight:bold;
                margin-top:12px;
                }
    
    #UtamaTitle {
    font-size:25px;
    text-align: center;
    font-weight: bold;
    color:#00859D;
    line-height: 20px;
    margin:8px 0px 5px 0px;
    padding-bottom:15px;
    border-bottom:5px solid #FAFD01;
    letter-spacing: -0.02em;
                }

            #UtamaLead {
                font-size:15px;
                color:#666 ;
                margin-top:10px;
                margin-bottom:20px;
                }
    #text_closed {
    font-size:12px;
    font-weight:bold;
    float:left;
    text-transform:normal;
    letter-spacing: normal;
        line-height: 10px;
        }
         #info{
        text-align: center;
        font-size: 11px;
        color: #000000;
        padding-top: 10px;
        }
        #ttd{
            height: 100px;
            padding-top: 10px;
            font-size: 12px;
        }
        .kanan{
        float: right;
        text-align: center;
        height: 80px;
        }
        .kiri{
        float: left;
        text-align: center;
        padding-right: 10px;
        height: 80px;
        }
    #footer {
    width:685px;
    margin: 0 auto;
    padding: 8px;
    font-size:11px;
    font-weight:normal;
    color:#666666;
    background:#eeeeee;
    /*margin-top:10px;*/
    /*border-top: 1px solid #FAFD01;*/
        }
    #footer a { color:#666666; text-decoration:none }