/*------------------------------------------------------------------------
 * PELINDO III Banjarmasin
 * ------------------------------------------------------------------------ 
 * Copyright (C) 2012 SEVIMA . All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: SEVIMA Web Designer 
 * Websites:  http://ambapers.com -  http://www.sevima.com
 * This file may not be redistributed in whole or significant part.
/*------------------------------------------------------------------------- */
body {
  
  background:#eaeaea url(../images/backie-repeat.jpg) repeat; background-attachment: fixed;
}
/*----------- closed--open if you want to Add banner event
.container_overlap{
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	width:1346px;
	min-width:1346px;
}
.container-support{margin-left:auto; margin-right:auto; width:193px; min-width:193px; display:none;}
.container-support img {opacity:0;}
*/
/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12 {
  margin-left: auto;
  margin-right: auto;

  width: 960px;
  min-width: 960px;
}
.container_8 {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_3 {
  width: 220px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_6 {
  width: 460px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_9 {
  width: 700px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

.container_12 .grid_12 {
  width: 940px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 80px;
}

.container_12 .prefix_2 {
  padding-left: 160px;
}

.container_12 .prefix_3 {
  padding-left: 240px;
}

.container_12 .prefix_4 {
  padding-left: 320px;
}

.container_12 .prefix_5 {
  padding-left: 400px;
}

.container_12 .prefix_6 {
  padding-left: 480px;
}

.container_12 .prefix_7 {
  padding-left: 560px;
}

.container_12 .prefix_8 {
  padding-left: 640px;
}

.container_12 .prefix_9 {
  padding-left: 720px;
}

.container_12 .prefix_10 {
  padding-left: 800px;
}

.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 80px;
}

.container_12 .suffix_2 {
  padding-right: 160px;
}

.container_12 .suffix_3 {
  padding-right: 240px;
}

.container_12 .suffix_4 {
  padding-right: 320px;
}

.container_12 .suffix_5 {
  padding-right: 400px;
}

.container_12 .suffix_6 {
  padding-right: 480px;
}

.container_12 .suffix_7 {
  padding-right: 560px;
}

.container_12 .suffix_8 {
  padding-right: 640px;
}

.container_12 .suffix_9 {
  padding-right: 720px;
}

.container_12 .suffix_10 {
  padding-right: 800px;
}

.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 80px;
}

.container_12 .push_2 {
  left: 160px;
}

.container_12 .push_3 {
  left: 240px;
}

.container_12 .push_4 {
  left: 320px;
}

.container_12 .push_5 {
  left: 400px;
}

.container_12 .push_6 {
  left: 480px;
}

.container_12 .push_7 {
  left: 560px;
}

.container_12 .push_8 {
  left: 640px;
}

.container_12 .push_9 {
  left: 720px;
}

.container_12 .push_10 {
  left: 800px;
}

.container_12 .push_11 {
  left: 880px;
}

.container_12 .push_12 {
  left: 960px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -80px;
}

.container_12 .pull_2 {
  left: -160px;
}

.container_12 .pull_3 {
  left: -240px;
}

.container_12 .pull_4 {
  left: -320px;
}

.container_12 .pull_5 {
  left: -400px;
}

.container_12 .pull_6 {
  left: -480px;
}

.container_12 .pull_7 {
  left: -560px;
}

.container_12 .pull_8 {
  left: -640px;
}

.container_12 .pull_9 {
  left: -720px;
}

.container_12 .pull_10 {
  left: -800px;
}

.container_12 .pull_11 {
  left: -880px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
  zoom: 1;
}
/*--------------------- start csss here---------------------*/
a,li,ul,img,div {text-decoration:none; list-style:none; list-style-image:none; border:none;}
a {color:#006c9e;}
select,option,input,textarea{font:normal 11px Arial, Helvetica; font-style:normal; color:#405b69 !important;}
ol,li,p{font:normal 12px Arial, Helvetica; font-style:normal; }
h1{font:bold 16px Arial, Helvetica; font-style:normal; color:#405b69 !important;;}
h1b{font:normal 36px Arial, Helvetica; font-style:normal; letter-spacing:-3px; color:#405b69 !important; margin:-55px 0 0 20px; z-index:5; float:left;}
h2{font:bold 12px Arial, Helvetica; font-style:normal; color:#414141 !important; margin-top:-9px;}
h21{font:bold 12px Arial, Helvetica; font-style:normal; color:#8ba2ab!important; margin-top:-9px; font-style:italic; word-wrap: break-word;}
h3{font:normal 12px Arial, Helvetica; font-style:normal; color:#7a7a7a !important; margin:0;}
h6{font:bold 20px Arial, Helvetica; font-style:normal; margin:0; letter-spacing:-1px; color:#FFFFFF !important; }
h4{font:13px Arial, Helvetica; font-style:normal; color:#405b69 !important; min-height:15px;}
h5{font:bold 11px Arial, Helvetica; font-style:normal; margin-top:-14px; height:13px; margin-bottom:5px;}
h7{font:bold 11px Arial, Helvetica; font-style:normal; letter-spacing:0px; margin-top:0px; height:auto; margin-bottom:5px;}
.colorh6a{color:#414141 !important; }
.colorh6b{color:#0079ad !important; }

/*---coloring your world-------*/
.color-base{color:#696969;}
.color-id{color:#74bb3b;}
.color-bheading{color:#505050;}
.color-heading{color:#357064;}
.color-white{color:#FFFFFF;}
.color-black{color:#000000;}

.pad-four{padding:10px;}

.colorback { background-color:#ebebeb;}
.bolder{ font-weight:bold;}
.normaler{ font-weight:normal;}
.italicer{ font-style:italic;}
.tinggi-textarea{min-height:150px; height:200px;}

.t-bold{font-weight:bold;}
.t-normal{font-weight:normal;}
.t-italic{font-style:italic;}
.t-shadowg{text-shadow: 3px 3px 5px #000000;}
.t-shadowb{text-shadow: 1px 3px 5px #000000;}
.t-3d {text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #7f7f7f;}
.t-insa{text-shadow:inset 10px 5px 10px #2a2a2a;}
.t-stroke{-webkit-text-stroke-width: 1px; -webkit-text-stroke-color:#4b4b4b;}

.wrapper {
	position: relative;
	min-height: 100%;
	margin:0 auto;
	padding:0 auto;
}
.kiri-kanan{padding:0px 15px;}
.tarik-dikit{margin-top:-10px;}
.up-little{margin-top:40px;}
.littlekick{margin-bottom:10px;}
.midkick{margin-bottom:20px;}
.deepkick{margin-bottom:35px;}
.highkick{margin-top:125px;}
.letsfloatright{float:right;}
.letsfloatleft{float:left;}
.z-topping-low{z-index:1;}
.z-topping-med{z-index:5;}
.z-topping-up{z-index:50}
/*---------kompleks header & sekitarnya -----------*/
.header-back {
 	position:relative;
	z-index:1;
	height:150px;
	min-height:117px;
	background:url(../images/header-back-logo.jpg) no-repeat;
	border: solid #ffffff 1px;
	top:0;
}
.logo-pelindo { min-height:150px; height:150x; min-width:420px; width:940px; }
.logo-pelindok { min-height:117px; height:117px; min-width:420px; width:630px; }
a.fillup {width:auto; height:auto;}
.kotak-cari{height:36px; background:url(../images/backie-search.png); float:right;}
.button-searchcari{float:right; margin:6px 15px 0 3px; width:20px; height:20px;}
.kotakan_cari{
	width:90px;;border:none; background:none; background-color:none;
	margin-top:7px;  color:#8c8c8c;
	font:bold 12px Arial, Helvetica; font-style:italic;
}
p.bahasa{float:right; height:25px; width:auto; margin-top:90px;
	color:#075075; letter-spacing:-1px; font:italic 12px "Myriad Pro",Arial, Helvetica; font-style:italic; letter-spacing:0px;
}
p.bahasa img {margin:5px 0 0 5px;}
/*---------Akhir kompleks header & sekitarnya -----------*/
/*---------kompleks Slideshow besar & sekitarnya -----------*/
.area-slideshow{width:100%; height:260px; background:bottom url(../images/shadow-backslide.png) no-repeat;}
.theme-default #slider {
    margin:0px auto 0 auto;
    width:940px; /* Make sure your images are the same size */
    height:240px; /* Make sure your images are the same size */
}
/*---------Akhir kompleks Slideshow besar -----------*/
/*---------kompleks menu & submenu -----------*/
.kontainer_menuutama {height:45px; background-color:#FFF; border-bottom:dashed 1px #999; border-top:dashed 1px #999; z-index:2;}
.kontainer_submenu{z-index:1; height:95px; overflow:hidden; border:solid 1px #FFF; padding-top:35px;
	background:url(../images/separator-menu.png) top no-repeat;
	-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 28px;
-moz-border-radius-bottomleft: 28px;
-webkit-border-radius: 0px 0px 28px 28px;
border-radius: 0px 0px 28px 28px;
	
}
.font-11normal{font: 11px Arial, Helvetica;  text-align:left; color:#405b69 !important; }
.font-11bold{font:bold 11px Arial, Helvetica; font-style:bold; text-align:left; color:#405b69 !important;}
.font-menu{font:normal 10px Arial, Helvetica; font-style:normal; text-align:left; color:#575757; }
.font-minimenu{font:bold 9px Arial, Helvetica; letter-spacing: -1px; font-style:bold; text-align:left; color:#7c7c7c; }
a .font-menu{font:bold 12px Arial, Helvetica; font-style:bold;  text-align:left; color:#006b82; }
a:hover .font-menu{font:bold 12px Arial, Helvetica; font-style:bold; text-align:left; color:#dcba00; }
a .font-minimenu{font:bold 9px Arial, Helvetica; letter-spacing: 0px; font-style:bold; text-align:left; color:#7c7c7c; }
a:hover .font-minimenu{font:bold 9px Arial, Helvetica; letter-spacing: 0px; font-style:bold; text-align:left; color:#ebebeb;}

.submenu {float:left; width:234px; height:95px; font-size:0px;  border-left:dashed 1px #c4c4c4;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */

}

.submenu:hover{
	-webkit-box-shadow: inset 0px 0px 20px 10px rgba(175, 175, 175, 1);
	-moz-box-shadow: inset 0px 0px 20px 5px rgba(175, 175, 175, 1);
	box-shadow: inset 0px 0px 20px 5px rgba(175, 175, 175, 1);
	cursor: pointer;
	background: rgba(255,255,255, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.submenu img:hover{}

.corneringrad-right{
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 28px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 0px 0px 28px 0px;
	border-radius: 0px 0px 28px 0px;
}
.corneringrad-left{
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 28px;
	-webkit-border-radius: 0px 0px 0px 28px;
	border-radius: 0px 0px 0px 28px;
}
.corneringrad-topleft{
	-moz-border-radius-topleft: 36px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 32px 0px 0px 0px;
	border-radius: 36px 0px 0px 0px;
}

/*-------------------------------Konten Area-----------------------*/
.wrapping-konten{height:730px; margin-top:15px; border-bottom:dotted 1px #8c8c8c;}
.konten-home{height:370px; max-height:370px;}
.standarbordering {border:solid 1px #FFF;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(170, 170, 170, 1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(170, 170, 170, 1);
	box-shadow: 0px 0px 3px 0px rgba(170, 170, 170, 1);
}
.topping{margin-top:10px;}
.toppingup{margin-top:30px;}
.topping-tobo{margin-top:3px; margin-bottom:3px;}
.bordering-tobo{border-bottom:dashed 1px #c4c4c4; border-top:dashed 1px #c4c4c4;}
.bordering-tobow{border-bottom:dashed 1px #FFF; border-top:dashed 1px #FFF;}
.font-heading1{font:bold 18px Arial, Helvetica;  letter-spacing:-1px; text-align:left; color:#006b82;}
/*------------album carousel----------*/
#album-carousel {float:left; display:inline; height:140px; overflow:hidden;}
#album-carousel img{border:solid 1px #FFF; width:140px; margin-left:8px;}
#album-carousel p{width:140px;  margin-left:8px; font:normal 9px Arial, Helvetica;  letter-spacing:0px; text-align:left; color:#343434;}

#galeri-awards {float:left; display:inline; width:105px; height:75px; margin-top:0px; }
#galeri-awards img{width:95px; height:75px; margin-left:8px;}
#galeri-awards p{width:95px;  margin-left:8px; font:normal 9px Arial, Helvetica;  letter-spacing:0px; text-align:left; color:#343434;}

#galeri-links {float:left; display:inline; width:85px; height:25px; margin-top:50px; }
#galeri-links img{width:70px; height:25px; margin-left:8px;}
#galeri-links p{width:70px;  margin-left:8px; font:normal 9px Arial, Helvetica;  letter-spacing:0px; text-align:left; color:#343434;}

#galeri-iklan {float:left; display:inline; width:250px; height:170px;}
#galeri-iklan img{width:250px; height:170px;}

/*---------------------------frame kaca---------------------------------*/
.framingkaca{float:left; pointer-events:none; width:310px; height:210px; margin-top:-210px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/frame-kaca.png', sizingMethod='scale'); background:none !important;}
.isikaca{float:left;  width:250px; height:170px; margin:20px 25px 20px 33px;}

/*----------------------------FOoter Area-------------------------------*/
.rak-meja{width:940px; margin:70px auto 0 auto;  height:150px; background:url(../images/rak-meja.png) bottom no-repeat;}

/*----------------------------Kanan menu-------------------------------*/
/*----------------------------Kanan menu-------------------------------*/
.widgetbox{float:left;width:auto; margin: 10px 15px; overflow:hidden; }
/*------------------------e-Proc---------------*/
.kotakan_userpass{
	width:135px; height:15px; border:none; background-color:none; background:none;
    color:#8c8c8c;  margin:-5px 5px 0 25px;
	font:bold 11px Arial, Helvetica; font-style:italic;
}
.kotak-userpass{width:250px;float:left; height:30px; margin-top:5px; margin-left:0px; background-color:#F00; background:url(../images/backie-usrpass.png) bottom right no-repeat;}
/*------------------------News-----------------*/
.widget-news{float:left; width:250px; height:auto; max-height:90px; margin-top:10px; marrgin-bottom:10px; border-bottom:dotted 1px #343434;}
.widget-news-headline{ width:auto; font:bold 11px Arial, Helvetica; font-style:bold; text-align:left; color:#405b69;}
.widget-news-headline a{ width:auto; font:bold 11px Arial, Helvetica; font-style:bold; text-align:left; color:#405b69;}
.widget-news-headline a:hover{width:auto; font:bold 11px Arial, Helvetica; font-style:bold; text-align:left; color:#005580;}
.widget-news-date{width:auto; margin-top:5px; height:18px; font:normal 9px Arial, Helvetica; font-style:normal;  line-height:1em; text-align:left; color:#4d4d4d;}
.widget-news-selengkapnya{padding:3px 5px 5px 5px; width:auto; margin-top:15px; margin-right:10px; font:bold 11px Arial, Helvetica; font-style:bold; text-align:left; color:#FFFFFF; background-color:#008caa;}
.widget-news-selengkapnya a{font:bold 11px Arial, Helvetica; font-style:bold; text-align:left; color:#FFFFFF;}
.widget-news-selengkapnya a:hover{ text-decoration:none; font:bold 11px Arial, Helvetica; font-style:bold; text-align:left; color:#004f60;}

.widget-boxtabel{width:250px; margin-bottom:5px; background-color:#d5d5d5;}

/*------------------------side-menu keluhan guestbook-----------------*/
#side-menu{ position:absolute; margin-top:50px; width:114px; height:130px; overflow:hidden }
#side-menu a img{margin:0;}
#side-menu a:hover img{margin-left:-114px;}

/*-----------------------------Breadcrumb----------*/
.breadcrumb{border-bottom:dotted 1px #333; padding-bottom:5px;}
.breadcrumb p{font:bold 12px Arial, Helvetica, sans-serif; color:#686868;}
.breadcrumb a{font:bold 12px Arial, Helvetica, sans-serif; color:#686868;}
.breadcrumb a:hover{font:bold 12px Arial, Helvetica, sans-serif; color:#3c94b1;}
.breadcrumb a.active{font:bold 12px Arial, Helvetica, sans-serif; color:#075075;}
.breadcrumb-headline{width:100%; height:24px; padding:5px; margin-top:15px; margin-bottom:10px;
	background: rgb(50,101,131); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMyNjU4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MWIyZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(50,101,131,1) 0%, rgba(65,178,208,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(50,101,131,1)), color-stop(100%,rgba(65,178,208,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(50,101,131,1) 0%,rgba(65,178,208,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(50,101,131,1) 0%,rgba(65,178,208,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(50,101,131,1) 0%,rgba(65,178,208,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(50,101,131,1) 0%,rgba(65,178,208,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#326583', endColorstr='#41b2d0',GradientType=1 ); /* IE6-8 */

}

/*---------------------scroller konten pages-----------------------*/
/* content block */
#scroller_container{position:relative; float:left; margin:0; width:620px; height:480px; padding:0 10px;}
#scroller_container .customScrollBox{position:relative; height:100%; overflow:hidden;}
#scroller_container .customScrollBox .container{position:relative; width:620px; top:0; float:left;}
#scroller_container .customScrollBox .content{clear:both; width:100%;}
#scroller_container .customScrollBox .content p{padding:10px 20px 10px 15px; margin:0; color:#777777; font:normal 12px Arial, Helvetica, sans-serif; line-height:20px;}
#scroller_container .customScrollBox img{ margin:0;}
#scroller_container .dragger_container{z-index:5; position:relative; width:0px; height:100%; float:left; margin:5px 0 0 -5px; border-left:1px solid #218ca7; border-right:1px solid #42b2cf; cursor:pointer}
#scroller_container .dragger{z-index:5; position:absolute; width:9px; height:60px; background:#3fa9c6; margin-left:-5px; overflow:hidden; cursor:pointer; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
#scroller_container .dragger_pressed{z-index:5; position:absolute; width:9px; height:60px; background:#316582; margin-left:-5px; overflow:hidden; cursor:pointer; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}

/*----------------------------- Buku TAMU-----------------------*/
/*bagian tabs konten */
#tabs {
position:relative;
font:Bold 11px Arial, Helvetica, sans-serif;
margin: 0;
width:100%;
}
#tabs ul {
background:none;
width: 588px;
padding-top:0;
padding-left:0;
margin-bottom:0;
}
#tabs li {
margin-left: 1px;
list-style: none;
}
* html #tabs li {
display: inline; /* ie6 double float margin bug */
}
#tabs li,
#tabs li a {
float: left;
}
#tabs ul li a {
text-decoration: none;
padding: 8px 11px 8px 11px;
color: #606060;
background:#e1e0e0;
font-weight: bold;
}
#tabs ul li a:hover {
text-decoration: none;
padding: 8px 11px 8px 11px;
color: #606060;
background:#f1f1f1;
font-weight: bold;
}

#tabs ul li.active {
background: #f1f1f1 ;
}
#tabs ul li.active a {
background: #f1f1f1 ;
color: #0085b0;
}


/*----------------------------- Customer care-----------------------*/
/*bagian tabs konten */
#tabcc {
position:relative;
font:Bold 11px Arial, Helvetica, sans-serif;
margin-top: -15px;
width:100%;
}
#tabcc ul {
background:none;
width: 588px;
padding-top:0;
padding-left:0;
margin-bottom:0;
}
#tabcc ul li {
list-style: none;
width:290px;
height:50px;
background:url(../images/back-cc.jpg) no-repeat;
}

* html #tabcc li {
display: inline; /* ie6 double float margin bug */
}
#tabcc li,
#tabcc li a {
float: left;
}
#tabcc ul li a {
width:290px;
height:50px;
text-decoration: none;
padding: 15px 11px 5px 11px;
color: #FFF;
font-weight: bold;
font-size:11px;
background:url(../images/back-cc.jpg) no-repeat;

}
#tabcc ul li a:hover {
width:290px;
height:50px;
text-decoration: none;
padding: 15px 11px 5px 11px;
color:#dcba00;
font-weight: bold;
font-size:11px;
background:url(../images/back-cc.jpg) no-repeat;
}

#tabcc ul li.active {
}
#tabcc ul li.active a {

color:#dcba00;
background:url(../images/back-cc.jpg) no-repeat;
}
/*-----------end tabs layanan pelanggan------*/
.isi-bukutamu {
	clear: both;
	display:block;
float:none;
background: #f1f1f1;
padding: 20px 20px 150px 20px;
min-height: 200px;
height:auto;
width:540px;

}
.grid_3nf{display:inline; width: 220px; height:100%;}
.grid_7nf{display:inline; width: 540px; height:100%;}

.list-tamu{border-bottom:dashed 1px #c4c4c4; border-top:dashed 1px #c4c4c4; margin-bottom:5px; padding:10px; background-color:#f1f1f1; min-width:620px;}
.pagination-bukutamu{display:block; font:normal 12px Arial, Helvetica; }
.pagination-bukutamu ul li {display:inline; padding: 0 5px; border:solid 1px #7ba9bc;}
.pagination-bukutamu ul li a {font:normal 12px Arial, Helvetica; color:#000; padding:0;}
.list-keluhan{float:none; display:inline-block; border-bottom:dashed 1px #c4c4c4; border-top:dashed 1px #c4c4c4; margin-bottom:5px; padding:10px; background-color:#f1f1f1; min-width:520px;}
#pagination-listkeluhan{float:none; display:block; font:normal 12px Arial, Helvetica; background-color:none; }
#pagination-listkeluhan ul li {display:inline; padding: 0px; background-color:none; }
#pagination-listkeluhan ul li a {font:normal 11px Arial, Helvetica; color:#276cb6; padding:5px; background-color:none;}
#pagination-listkeluhan ul li a:hover {font:normal 11px Arial, Helvetica; color:#7ba9bc; padding:5px; background-color:none;}


/*----------------------galeri_gambar.html galeri---------------------*/
ul.menu-kategori li {
	list-style-type: none;
	display: inline-block;
	font:bold Arial, Helvetica, sans-serif;
	color:#069;
	text-shadow: 1px 1px 0px #FFF;
	padding: 2px 10px;
}
.headkategori {text-shadow: 1px 1px 0px #FFF; letter-spacing:-1px; }
.selected {
		-webkit-border-radius: 15px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: #338ab0;
		-webkit-box-shadow: 1px 1px 0px #8c8c5d;
	}
	
	.selected a, .selected a:visited {
		text-shadow: 1px 1px 0px #7392a8;
		color: #fff;
	}
	
ul.item-galeri {width:620px;}	
ul.item-galeri li {
	width:140px;	
	list-style-type: none;
	display: block;
	float: left;
	margin: .5em;
}
	
	ul.item-galeri li img {
		border: 1px solid #fff;
	}
	ul.item-galeri li a {
		font:bold Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#727272;
	}
	ul.item-galeri li a:hover {
		font:bold Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#069;
	}

ul.item-galeri div {
	width:140px;	
	list-style-type: none;
	display: block;
	float: left;
	margin: .3em;
}
ul.item-galeri div img {
		border: 1px solid #fff;
	}


/*------------- testimoni------------*/
.testimoni {background-color:#000; width:300px; max-width:300px; height:122px; min-height:122px; height:122px; margin: 0 0 7px 0;}
#testi {
	list-style-type: none;
	width:300px; max-width:300px;
	background-color:none;
	padding:0 auto;
	margin: 0 auto;
}
#testi li {position:relative;  height:122px; width:300px; margin:0px 0 0 -40px; padding:0px;  }
#testi li div {min-height:50px; vertical-align: bottom;   position:absolute; padding:0 10px 0 10px;  bottom:0; background:url(../images/back-testi-repeat.png) repeat;}
#testi li div p{opacity:1;}


/*----------------- Jam digital-------------*/
.clock {margin:0 auto; color:#007f9c; letter-spacing:-1px; }

#Date {margin-bottom:0px; padding-bottom:5px; letter-spacing:-0px; font:normal 12px Arial, Helvetica, sans-serif; padding:0; text-align:right; text-shadow: 1px 1px 0px #FFF; text-align:right; border-bottom:1px solid #23abcf;}

ul.jam-digital {margin-top:0px;  padding:0px; list-style:none; text-align:right;  }
ul.jam-digital li { display:inline; font:normal 12px Arial, Helvetica, sans-serif; padding:0; text-align:right; text-shadow: 1px 1px 0px #FFF;}
li#hours { display:inline;  font:bold 14px Arial, Helvetica, sans-serif; padding:0; text-align:right; text-shadow: 1px 1px 0px #FFF;}
li#min { display:inline; font:bold 14px Arial, Helvetica, sans-serif; padding:0; text-align:right; text-shadow: 1px 1px 0px #FFF; }
li#sec { display:inline; font:bold 14px Arial, Helvetica, sans-serif; padding:0; text-align:right; text-shadow: 1px 1px 0px #FFF; }
li#point {font:bold 16px Arial, Helvetica, sans-serif; padding:0; text-align:right; ; text-shadow: 1px 1px 0px #FFF; position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:1px; padding-right:1px; }

/* Simple Animation */
@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@media screen and (max-width:1300px){ 
	.container_overlap{
		margin-top:-10px;
		margin-left:auto;
		margin-right:auto;
		width:960px;
		min-width:960px;
		max-width:960px;
	}
	.container-support{margin-left:auto; margin-right:auto; width:0px; max-width:0px; display:none; overflow:hidden;} 
	.container-support a{margin-left:auto; margin-right:auto; width:0px; max-width:0px; display:none; overflow:hidden;}
	.container-support a.img{margin-left:auto; margin-right:auto; width:0px; max-width:0px; display:none; overflow:hidden;}                        

}