.st-accordion{
    min-width:180px;
    margin: 0 auto;
}
.st-accordion ul li{
    /*border-bottom: 1px solid #c7deef;
    border-top:1px solid #fff;*/
    overflow: hidden;
	
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    color:#456896;
    font: 17px "Helvetica Neue Bold", Helvetica, Arial, sans-serif;;
    display: block;
	position: relative;
    line-height: 24px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
	border-bottom:solid 4px #c22a25;
}
.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: #1693eb;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: #1693eb;
	border-bottom:solid 4px #c22a25;
	
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 8px 10px 20px 10px;
	white-space:nowrap;
	
}
.st-content p{
    font-size:12px;
	line-height:14px;
	padding-bottom:10px;
	margin-bottom:10px;
}

.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}