/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/*--font coloring--*/
a{color:#456896; text-decoration:none;}
a.second{color:#64c4ea;}
a:hover {color:#64c4ea;}
.t-color-black{color:#000000;}
.t-color-white{color:#FFFFFF;}
.t-color-base{color:#456896;}
/*---------border-----*/
.borso-bottom{border-bottom:solid 1px #b1b1b1;}
/*---------padding-----*/
.pad-l0{padding-left:0px;}
.pad-l5{padding-left:5px;}
.pad-r0{padding-Right:0px;}
.pad-r5{padding-right:5px;}
.pad-r10{padding-right:10px;}
.pad-r20{padding-right:20px;}
.pad-lr5{padding-left:5px; padding-right:5px;}
.pad-lr10{padding-left:10px; padding-right:10px;}
.pad-tb5{padding-top:5px; padding-bottom:5px;}
.pad-tb10{padding-top:10px; padding-bottom:10px;}
.pad-tb20{padding-top:20px; padding-bottom:20px;}
.pad-trbl5{padding:5px;}
.pad-trbl10{padding:10px;}
.pad-trbl20{padding:20px;}
/*-------margin---*/
.mar-up05{margin-top:5px;}
.mar-up10{margin-top:10px;}
.mar-up15{margin-top:15px;}
.mar-up25{margin-top:25px;}
.mar-up70{margin-top:70px;}
.mar-bot05{margin-bottom:05px;}
.mar-bot10{margin-bottom:10px;}
.mar-bot15{margin-bottom:15px;}
.mar-bot25{margin-bottom:25px;}
.mar-bot50{margin-bottom:50px;}
.mar-bot70{margin-bottom:70px;}
.mar-center{margin:0 auto;}
.mar-center5{margin:5px;}
.mar-lr5{margin-left:5px; margin-right:5px;}
.mar-lr10{margin-left:10px; margin-right:10px;}
.mar-overlapup10{margin-top:-10px;}
.mar-overlapup25{margin-top:-25px;}
.mar-overlapup50{margin-top:-50px;}
 /*------float object-----*/
.float-l{float:left;}
.float-r{float:right;}
/*--font syling--*/
.fontstyle-normal{font-weight:normal;}
.fontstyle-bold{font-weight:bold;}
.fontstyle-italic{font-style:italic;}
.fontstyle-center{text-align:center; margin-left:auto; margin-right:auto;}

/*-------------header---------------*/
.container-language {background:#456896;height:30px; width:100%}
.language-block {background:#456896 url(../images/shine.png) center no-repeat; height:30px; position:relative;}
.flag-wrapper {float:right;}
.flag-wrapper .eng {background:url(../images/language-icon.png) left no-repeat; overflow:hidden; width:18px; margin:5px; height:18px;}
.flag-wrapper .ina {background:url(../images/language-icon.png) right no-repeat; overflow:hidden; width:18px; margin:5px; height:18px;}

/*-------------menu atas------------*/
.container-menu-atas {height:46px; background:#456896;}
.menu-atas li {display:inline;}
.menu-atas li a {color:#FFF !important;}
.red-arrow {background:url(../images/red-arrow.png) no-repeat; width:168px; color:#FFF; font-size:16px; padding:12px 0 12px 10px; float:left; letter-spacing:.1em; font-family:"Helvetica Neue";}

/*-------------content home--------------*/
.wrap-content {background-color:#fff; overflow:hidden;}
.shadow{background:#fff url(../images/shadow.png) no-repeat; display:block; height:14px; position:relative;}
.shadow-page{background:#fff url(../images/shadow-white.png) no-repeat; display:block; height:14px; position:relative; }
.sidebar-grey {background-color:#f5f5f5; height:100%;}
#datepicker, #datepicker1, #datepicker2, #datepicker3  {font-size:9px;}
.content-title {color:#456896; border-bottom:solid 4px #c22a25; text-transform:uppercase; margin-bottom:20px;}
p.pelayanan { margin-bottom:10px; text-align:justify; line-height:normal;color:#456896;}
p.pelayanan a{color:#456896;}
p.pelayanan a:hover{color:#64c4ea;}
.blue-btn a{color:#fff !important; background-color:#64c4ea; padding:5px; float:right; font-size:11px;}
.blue-btn a:hover{background-color:#456896;}
#ticker-SPB {max-heigth:200px;}
a.selengkapnya {color:#64c4ea !important; font-style:italic; font-size:10px;}
a:hover.selengkapnya {text-decoration:underline;}
.koleksi-btn{background:url(../images/koleksi.png) right no-repeat; overflow:hidden; width:79px; height:24px; float:right;margin-top: -50px;}
ol.margin0 li{margin:0;}

/*------------- tabs-------------------*/
.tab-widget {
	display:inline;
	margin:0;
}
.ui-tabs-hide {display: none;}
ul.nav-widget li{
	margin:0; padding:0;
	display:inline-block;
}
.isi-widget{display:block; float:left; overflow:hidden; color:#fff; margin:0; }
ul.nav-widget li a{	
	background:#CECECE;
	color:#456896;
	padding:5px 11.76px;
	text-decoration:none;
}
ul.nav-widget li a:hover, .ui-tabs-nav li.ui-tabs-selected a{
	background:#456896 right no-repeat;
	color:#fff;
	text-decoration:none;
}

/*--------------galeri---------*/
ul.item-galeri {
    width:100%;
}	
ul.item-galeri li {
	width:140px;	
	list-style-type: none;
	display: block;
	float: left;
	margin: .5em;
}
	
	ul.item-galeri li img {
		border: 1px solid #fff;
	}
	ul.item-galeri li a {
		font:bold Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#FFF;
		text-shadow: 1px 1px 0px #7392a8;
	}
	ul.item-galeri li a:hover {
		font:bold Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#069;
		text-shadow: 1px 1px 0px #FFFFFF;
	}

ul.item-galeri div {
	width:140px;	
	list-style-type: none;
	display: block;
	float: left;
	margin: .3em;
}
ul.item-galeri div img {
		border: 1px solid #fff;
	}
/*-------------pagination---------------*/
.pagination{display:inline; float:right;}
.pagination li {display:inline}
.pagination li a{display:inline; padding:5px; background:#f5f5f5; color:#466896;}
.pagination li a:hover,.pagination li.active{color:#FFFFFF;padding:5px; background:#C22A25;}

/*-------------content page--------------*/
.menu-vertical li{background:url(../images/arrow_grey.png) no-repeat left 50% #f5f5f5; padding:10px 0 10px 30px; font-weight:bold; margin:0; cursor:pointer; max-width:90%}
.menu-vertical li:hover, .menu-vertical li.active{background:url(../images/arrow_white.png) no-repeat right 50%#c22a25; color:#fff;max-width:90%}

/*-------------footer--------------*/
.footer{ font-size:10px;}
.footer .shadow{background:url(../images/shadow-footer.png) bottom no-repeat; display:block; height:36px;margin-bottom:50px}
.footer .grey {background-color:#cecece; line-height:12px;}
.footer .blue {background-color:#456896; color:#fff; text-align:center; }
.link-menhub { background:url(../images/logo-menhub.png) top no-repeat; height:25px; width:132px; display:inline-block; border:none;}
.link-menhub:hover{ background:url(../images/logo-menhub.png) bottom no-repeat;}
.link-pelindo { background:url(../images/logo-pelindo.png) top no-repeat; height:21px; width:207px; display:inline-block; border:none; margin-left:10px;}
.link-pelindo:hover{ background:url(../images/logo-pelindo.png) bottom no-repeat;}
.link-tps { background:url(../images/logo-tps.png) top no-repeat; height:25px; width:63px; display:inline-block; border:none; margin-left:10px;;}
.link-tps:hover{ background:url(../images/logo-tps.png) bottom no-repeat;}
.link-insw { background:url(../images/logo-insw.png) top no-repeat; height:29px; width:132px; display:inline-block; border:none; margin-left:10px;}
.link-insw:hover{ background:url(../images/logo-insw.png) bottom no-repeat;}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/