/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                 { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                       { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .column.alpha               { margin-left: 0; }
    .column.omega, .column.omega               { margin-right: 0; }
	
    /* Base Grid */
    .container .grid01.column                  { width: 40px;  }
    .container .grid02.column                  { width: 100px; }
    .container .grid03.column                  { width: 160px; }
    .container .grid04.column                  { width: 220px; }
    .container .grid05.column                  { width: 280px; }
    .container .grid06.column                  { width: 340px; }
    .container .grid07.column                  { width: 400px; }
    .container .grid08.column                  { width: 460px; }
    .container .grid09.column                  { width: 520px; }
    .container .grid10.column                  { width: 580px; }
    .container .grid11.column                  { width: 640px; }
    .container .grid12.column                  { width: 700px; }
    .container .grid13.column                  { width: 760px; }
    .container .grid14.column                  { width: 820px; }
    .container .grid15.column                  { width: 880px; }
    .container .grid16.column                  { width: 940px; }

    .container .one-third.column             { width: 300px; }
    .container .two-thirds.column            { width: 620px; }

    /* Offsets */
    .container .offset-by-grid01               { padding-left: 60px;  }
    .container .offset-by-grid02               { padding-left: 120px; }
    .container .offset-by-grid03               { padding-left: 180px; }
    .container .offset-by-grid04               { padding-left: 240px; }
    .container .offset-by-grid05               { padding-left: 300px; }
    .container .offset-by-grid06               { padding-left: 360px; }
    .container .offset-by-grid07               { padding-left: 420px; }
    .container .offset-by-grid08               { padding-left: 480px; }
    .container .offset-by-grid09               { padding-left: 540px; }
    .container .offset-by-grid10               { padding-left: 600px; }
    .container .offset-by-grid11               { padding-left: 660px; }
    .container .offset-by-grid12               { padding-left: 720px; }
    .container .offset-by-grid13               { padding-left: 780px; }
    .container .offset-by-grid14               { padding-left: 840px; }
    .container .offset-by-grid15               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                { width: 768px; }
        .container .column                        { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .column.alpha              { margin-left: 0; margin-right: 10px; }
        .column.omega, .column.omega              { margin-right: 0; margin-left: 10px; }
        .alpha.omega                              { margin-left: 0; margin-right: 0; }

        .container .grid01.column                { width: 28px;  }
        .container .grid02.column                { width: 76px;  }
        .container .grid03.column                { width: 124px; }
        .container .grid04.column                { width: 172px; }
        .container .grid05.column                { width: 220px; }
        .container .grid06.column                { width: 268px; }
        .container .grid07.column                { width: 316px; }
        .container .grid08.column                { width: 364px; }
        .container .grid09.column                { width: 412px; }
        .container .grid10.column                { width: 460px; }
        .container .grid11.column                { width: 508px; }
        .container .grid12.column                { width: 556px; }
        .container .grid13.column                { width: 604px; }
        .container .grid14.column                { width: 652px; }
        .container .grid15.column                { width: 700px; }
        .container .grid16.column                { width: 748px; }

        .container .one-third.column               { width: 236px; }
        .container .two-thirds.column              { width: 492px; }

        /* Offsets */
        .container .offset-by-grid01              { padding-left: 48px; }
        .container .offset-by-grid02              { padding-left: 96px; }
        .container .offset-by-grid03              { padding-left: 144px; }
        .container .offset-by-grid04              { padding-left: 192px; }
        .container .offset-by-grid05              { padding-left: 240px; }
        .container .offset-by-grid06              { padding-left: 288px; }
        .container .offset-by-grid07              { padding-left: 336px; }
        .container .offset-by-grid08              { padding-left: 384px; }
        .container .offset-by-grid09              { padding-left: 432px; }
        .container .offset-by-grid10              { padding-left: 480px; }
        .container .offset-by-grid11              { padding-left: 528px; }
        .container .offset-by-grid12              { padding-left: 576px; }
        .container .offset-by-grid13              { padding-left: 624px; }
        .container .offset-by-grid14              { padding-left: 672px; }
        .container .offset-by-grid15              { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .column { margin: 0; }

        .container .grid01.column,
        .container .grid01.column,
        .container .grid02.column,
        .container .grid03.column,
        .container .grid04.column,
        .container .grid05.column,
        .container .grid06.column,
        .container .grid07.column,
        .container .grid08.column,
        .container .grid09.column,
        .container .grid10.column,
        .container .grid11.column,
        .container .grid12.column,
        .container .grid13.column,
        .container .grid14.column,
        .container .grid15.column,
        .container .grid16.column,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-grid01,
        .container .offset-by-grid02,
        .container .offset-by-grid03,
        .container .offset-by-grid04,
        .container .offset-by-grid05,
        .container .offset-by-grid06,
        .container .offset-by-grid07,
        .container .offset-by-grid08,
        .container .offset-by-grid09,
        .container .offset-by-grid10,
        .container .offset-by-grid11,
        .container .offset-by-grid12,
        .container .offset-by-grid13,
        .container .offset-by-grid14,
        .container .offset-by-grid15 { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .column { margin: 0; }

        .container .grid01.column,
        .container .grid01.column,
        .container .grid02.column,
        .container .grid03.column,
        .container .grid04.column,
        .container .grid05.column,
        .container .grid06.column,
        .container .grid07.column,
        .container .grid08.column,
        .container .grid09.column,
        .container .grid10.column,
        .container .grid11.column,
        .container .grid12.column,
        .container .grid13.column,
        .container .grid14.column,
        .container .grid15.column,
        .container .grid16.column,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
